* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-color: rgb(241, 36, 36);
  padding: 20px;
}

header img {
  width: 120px;
}

header nav li {
  display: inline-block;
  margin: 10px;
}

header nav a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  color: black;
}

i {
  color: white;
  font-size: 20px;
  padding-left: 20px;
}

.videoframe {
  position: relative;
  overflow: hidden;
}

.shopnow {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
}

.button {
  background-color: rgb(241, 36, 36);
  color: white;
  font-size: 1.5rem;
  border: none;
  padding: 15px 32px;
}

h2 {
  color: rgb(241, 36, 36);
  padding: 5%;
  text-align: center;
  text-decoration: underline;
}

#about-us p {
  padding: 0 20%;
  text-align: justify;
}

#membership {
  padding: 5%;
}

#membership .bgc-highlights {
  background-color: black;
}

#membership p {
  color: white;
}

#membership button {
  background-color: rgb(241, 36, 36);
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 6px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.align-center {
  align-items: center;
}

.flex-item {
  flex: 1;
}

.flex-item img {
  width: 100%;
}

footer {
  padding: 20px;
  background-color: black;
  font-size: 14px;
}

footer li {
  list-style: none;
  color: lightgray;
}

footer li:hover {
  color: white;
}

footer input {
  display: block;
  margin-bottom: 10px;
}

