* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

header {
  background: rgb(241,36,36);
  padding: 20px;
}

header img {
  width: 120px;
}

header nav li {
  display: inline-block;
  margin: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.align-center {
  align-items: center;
}

.flex-item {
  flex: 1;
}
