* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-color: rgb(241, 36, 36);
  padding: 20px;
}

header img {
  width: 120px;
}

header nav li {
  display: inline-block;
  margin: 10px;
}

header nav a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  color: black;
}

i {
  color: white;
  font-size: 20px;
  padding-left: 20px;
}
